<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>LIC Policy</title>
</head>

<body>
   <div align="center"> {{ msg }} </div>
   <div align="center">
      <h1>Insurance Policy Tracker </h1>
      <h2>Upload new File</h2>
      <h4>You can upload pdf file of your policies (either LIC OR HDFC Poilcy ) here and track the info specified .</h4>

      <form method=post enctype=multipart/form-data>
         <p><input type=file name=file>
            <input type=submit value=Upload>
      </form>
   </div>
</body>

</html>